* {
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

body {
	/*font-family: "Raleway", sans-serif;*/
	font-family: "Museo Sans Rounded 500";
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
	background: url("../img/background.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#adminBackground {
	background: linear-gradient(135deg, #bd0043, #47bdb6)!important;
}

a {
	text-decoration: none;
	color: white;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/** TIME FOR SOME COLORS **/
.green {
	background-color: #10ac84;
	color: white;
}

.green-text {
	color: #10ac84;
}

.green-around-text {
	background-color: #10ac84;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

.blue {
	background-color: #2e86de;
	color: white;
}

.blue-Button {
	background-color: #2e86de;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 16px;
	border-radius: 5px;
	width: 100%;
}

.blue-around-text {
	background-color: #2e86de;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.red-around-text {
	background-color: #ee462b;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.pink {
	background-color: #f368e0;
	color: black;
}

.pink-around-text {
	background-color: #f368e0;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

.aqua {
	color: black;
	background-color: #47bdb6;
}

.magenta {
	color: black;
	background-color: #bd0043;
}

.primary {
	background-color: #ee462b;
}

.primary-item {
	background: #ee462b;
}

.primary-text {
	color: #ee462b;
}

.primary-border {
	border: 2px solid #ee462b!important;
}

.secondary {
	background-color: #292636;
}

.secondary-item {
	background: #292636;
}

.secondary-text {
	color: #292636;
}

.white {
	background-color: white;
	color: #000;
}

.white-text {
	color: #fff;
}

.black-text {
	color: #000!important;
}

/** USEFUL CLASSES **/

.expand-color {
	padding: 32px;
}

.expandMe {
	padding: 0px;
}

.expandMe p {
	margin-left: 15px;
	margin-right: 15px;
}

.expandIMG {
	width: 100%;
	border-bottom: 15px;
}

.no-padding {
	padding: 0px !important;
}

.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.grow:active {
	transform: scale(0.9);
}

.rounded {
	border-radius: 5px;
}

.hover-darken {
	color: black;
}

.hover-darken:hover {
	background-color: #333;
	color: white;
}

.full-width {
	width: 100% !important;
}

.inline {
	display: inline-block;
}

/** SMALL MARGIN STYLES **/
.smb {
	margin-bottom: 15px;
}
.smt {
	margin-top: 15px;
}
.smr {
	margin-right: 15px;
}
.sml {
	margin-left: 15px;
}

/** TEXT CONTROLLERS **/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.normal-text {
	font-weight: 400;
}

.bold-text {
	font-weight: bold;
}

.text-image {
	position: relative;
	max-width: inherit;
	height: 100%;
}

.small-text-margin-left {
	margin-left: 10px;
}

.no-letter-spacing {
	letter-spacing: 0px;
}

/** RATING COLORS **/
#ratingR {
	margin: auto;
	background-color: black;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: white;
	text-align: center !important;
}

#ratingMA {
	margin: auto;
	background-color: red;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: white;
	text-align: center !important;
}

#ratingM {
	margin: auto;
	background-color: #0abde3;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: white;
	text-align: center !important;
}

#ratingPG {
	margin: auto;
	background-color: yellow;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: black;
	text-align: center !important;
}

#ratingG {
	margin: auto;
	background-color: #1dd1a1;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: black;
	text-align: center !important;
}

#ratingU {
	margin: auto;
	background-color: #f0932b;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
	color: black;
	text-align: center !important;
}

/** NAV STYLING **/

nav {
	letter-spacing: 0px;
	width: 100%;
	padding: 0 !important;
	color: #fff;
	font-weight: bolder;
	margin-bottom: 20px;
}

nav ul {
	text-align: center;
	background-color: #ee462b;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 0 3em;
	line-height: 3em;
}

nav ul a {
	text-decoration: none;
	color: #fff;
}

nav ul li:hover {
	background: #ef5239;
	cursor: pointer;
	color: white;
}

nav ul li:active {
	background: #e83a1e;
	color: white;
}

/** HR STYLING **/

.orange-hr {
	border: 0;
	height: 1px;
	background: #333;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0%, hsla(24, 100%, 41%, 0)),
		color-stop(50%, hsla(24, 100%, 41%, 0.75)),
		color-stop(100%, hsla(24, 100%, 41%, 0))
	);
	background: -webkit-linear-gradient(
		left,
		hsla(24, 100%, 41%, 0),
		0%,
		hsla(24, 100%, 41%, 0.75),
		50%,
		hsla(24, 100%, 41%, 0) 100%
	);
	background: -moz-linear-gradient(
		left,
		hsla(24, 100%, 41%, 0) 0%,
		hsla(24, 100%, 41%, 0.75) 50%,
		hsla(24, 100%, 41%, 0) 100%
	);
	background: -ms-linear-gradient(
		left,
		hsla(24, 100%, 41%, 0) 0%,
		hsla(24, 100%, 41%, 0.75) 50%,
		hsla(24, 100%, 41%, 0) 100%
	);
	background: -o-linear-gradient(
		left,
		hsla(24, 100%, 41%, 0) 0%,
		hsla(24, 100%, 41%, 0.75) 50%,
		hsla(24, 100%, 41%, 0) 100%
	);
}

.white-hr {
	border: 0;
	height: 1px;
	background: #333;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0%, hsla(0, 0%, 100%, 0)),
		color-stop(50%, hsla(0, 0%, 100%, 0.75)),
		color-stop(100%, hsla(0, 0%, 100%, 0))
	);
	background: -webkit-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0),
		0%,
		hsla(0, 0%, 100%, 0.75),
		50%,
		hsla(0, 0%, 100%, 0) 100%
	);
	background: -moz-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0) 0%,
		hsla(0, 0%, 100%, 0.75) 50%,
		hsla(0, 0%, 100%, 0) 100%
	);
	background: -ms-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0) 0%,
		hsla(0, 0%, 100%, 0.75) 50%,
		hsla(0, 0%, 100%, 0) 100%
	);
	background: -o-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0) 0%,
		hsla(0, 0%, 100%, 0.75) 50%,
		hsla(0, 0%, 100%, 0) 100%
	);
}

/** ADMIN CONTENT **/

#adminNav {
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

#adminNav nav ul {
	border-radius: 5px;
}

#adminNav nav ul li {
	padding: 0 2em;
}

#adminContent {
	margin-top: 15px;
	margin-bottom: 15px;
}

table {
  border: 2px solid #47bdb6;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
}

th {
  background-color: #47bdb6;
  color: white;
  /*color: rgba(255,255,255,0.66);*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  text-align: center;
}

.inputBox {
	display: block;
	width: 100%;
	padding: 16px;
	color: white;
	margin-bottom: 15px;
	border: none;
	font-size: 1.2em;
	border-radius: 5px;
	background: #303030;
}

.formButton {
	border: none;
	border-radius: 5px;
	background: #47bdb6;
	cursor: pointer;
	width: 100%;
	padding: 16px;
	font-weight: bold;
	font-size: 1.2em;
}

.SessionMovieSelect {
	border: none;
	width: 100%;
	padding: 16px;
	font-size: 1.2em;
	background: #303030;
	color: white;
	height: 2.7em;
}

/** DIV STYLING **/

#content {
	background-color: #292636;
	padding: 0px;
	margin-top: 64px;
	border-radius: 5px;
}

#logo img {
	width: 100%;
}

#reviews {
	border: 2px solid white;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

.movieRow {
	width: 100%;
}

.movieItem {
	height: 18em;
}

.movie-img {
	max-width: 100%;
	min-height: 100%;
	border-radius: 5px;
	height: inherit;
	width: 100%;
}

.full-height {
	height: 100%;
}

.left-float {
	position: relative;
	float: left;
}

.curved {
	border-radius: 5px;
}

.mobile-only {
	display: none;
}

.tomorrow {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #1dd1a1;
	padding: 4px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ratingOverlay-MA {
	background: red;
	color: white;
}
.ratingOverlay-R{
	background: black;
	color: white;
}
.ratingOverlay-M{
	background: #0abde3;
	color: white;
}
.ratingOverlay-PG{
	background: yellow;
	color: black;
}
.ratingOverlay-G{
	background: #1dd1a1;
	color: black;
}
.ratingOverlay-U{
	background: #f0932b;
	color: black;
}

[class*="ratingOverlay-"] {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 4px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.next-week {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #0abde3;
	padding: 4px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.two-weeks {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #ee5253;
	padding: 4px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/** FORM STYLING **/
#LoginFeild,
#PasswordFeild {
	display: block;
	width: 100%;
	background: #303030;
	border: none;
	padding: 8px;
	margin-bottom: 15px;
	font-size: 1.2em;
	border-radius: 5px;
	color: white;
}

#LoginButton {
	width: 100%;
	border: none;
	font-weight: 400;
	font-size: 1.2em;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	cursor:pointer;
}

#RegisterButton {
	width: 100%;
	float: right;
	padding: 10px;
	border: none;
	color: black;
	border-radius: 5px;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
}

#active {
	background: #e83a1e;
}

#pageNav {
	margin-top: 20px;
}

.searchBar {
	width: 80%;
	border: none;
	background: #292636;
	text-align: center;
	color: white;
	opacity: 0.75;
	font-size: 1.5em;
	border-bottom: 1px solid white;
	padding: 16px;
}

.selectGenre {
	color: white;
	background: #303030;
	font-size: 1.2em;
}

.text-area {
	background-color: #292636;
	border: 1px solid white;
	border-radius: 5px;
	width: 100%;
	color: white;
	font-size: 1.2em;
	font-family: "Museo Sans Rounded 500";
}

.drop-down {
	background-color: #292636;
	color: white;
	font-size: 15px;
	padding: 8px;
}

.ticketButton {
	border-radius: 5px;
	border: 2px solid #ee462b;
	padding: 10px;
}

.ticketButton-selected {
	border-radius: 5px;
	border: 2px solid #10ac84;
	padding: 10px;
}

.red-outline {
	border-radius: 5px;
	border: 2px solid #ee462b;
}

.liftOff {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0, 0, 0, 0.42);
}

.content {
	padding: 6px;
	margin-left: 15px;
	margin-right: 15px;
}

.padding-small {
	padding: 8px;
}

.fade-away {
	visibility: hidden;
	margin-top: -20px;
	opacity: 0;
	transition: visibility 0s 10s, opacity 10s linear;
}



/** SIZE SPECIFIERS **/
@media only screen and (max-width: 768px) {
	.hide-mobile {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	[class*="col-"] {
		width: 100%;
		height: auto;
	}

	.text-image {
		height: auto;
	}

	.movie-img {
		height: auto;
		width: 100%;
	}

	#content {
		margin-top: 0px;
	}

	.smr {
		margin-right: 0px;
	}
}
